body {
    margin-top: 120px;
    font-style: inherit;
    border: 1px solid gray;
    border-radius: 8px;
    width: 35%;
    margin-left: 420px;
    padding-bottom: 20px;
}
.task { 
    margin: 10px 0; 
}
button { 
    margin-left: 10px;
    background-color: rgb(59, 138, 211); 
    color: white;
}
.form {
    text-align: center;
}